@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: #1f2630;
}

:root{
    --head-color: #9e9fa1;
    --quote-color: #e3f1e9;
    --author-color: #c1c6cf;
    --bgColorCard: #30425c;
}

#heading{
    
}

.card{
    display: flex;
}